* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(21, 21, 21);
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  height: 90vh;
  width: 85vw;
  background-color: black;
  border-radius: 20px;
}

#message {
  position: center;
  color: white;
  height: 10vh;
  width: 30vw;
  color: white;
  left: 30vw;
  margin: 30px auto auto auto;
} 

#ball {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 15px);
  left: calc(50% - 15px);

} 
/* spinny ball from: https://www.geeksforgeeks.org/spinning-ball-animation-with-glow-effect-using-css/*/
#ballFx {
  height: 30px;
  width: 30px;
  position: fixed;
  border-radius: 100px;
  top: 50vh;
  left: 50vw;
  animation: spinBall 0.15s linear infinite;
  box-shadow: inset 0 0 18px #fff, 
      inset 6px 0 18px red, 
      inset -6px 0 18px blue, 
      inset 6px 0 30px red, 
      inset -6px 0 30px blue, 
      0 0 18px #fff, -4px 0 18px 
      red, 4px 0 18px blue;
    
}

@keyframes spinBall {
  100% {
      transform: rotate(360deg);
  }
}

.paddle {
  height: 100px;
  width: 18px;
  position: fixed;
  background-color: white;
}
/* paddles styling glooowwww from: https://codersblock.com/blog/creating-glow-effects-with-css/ */
#paddle1 {
  top: calc(7.5vh + 55px);
  left: calc(10vw + 30px);
  box-shadow: inset 0 0 14px  white, 
      inset -6px 0 14px white, 
      inset -6px 0 26px white, 
      0 0 14px white, 4px 0 18px 
}

#paddle2 {
  top: calc(85vh + 7.5vh - 100px - 55px);
  right: calc(10vw + 30px);
  box-shadow: inset 0 0 14px white, 
      inset 6px 0 14px white, 
      inset 6px 0 26px white, 
      0 0 14px white, -4px 0 18px 
}

/* player scores styling simple css */
#player1_score {
  height: 70px;
  width: 70px;
  color: white;
  position: fixed;
  left: 20vw;
  margin-top: 30px;
  font-size: 48px;
}

#player2_score {
  height: 70px;
  width: 70px;
  color: white;
  position: fixed;
  left: 80vw;
  margin-top: 30px;
  font-size: 48px;
}

